{% extends "_layouts/cp" %}
{% set title = "Trigger custom action"|t('triggeraction') %}

{% block content %}
    {% for key, trigger in craft.app.getModule('gactrigger').getSettings().triggers %}
        <a href="{{ trigger[0] }}" target="_blank">{{ trigger[1] }}</a>
    {% endfor %}
{% endblock %}