{% extends "_layouts/cp" %}
{% set title = "Trigger custom action"|t('triggeraction') %}

{% block content %}
    {% for key, trigger in craft.app.getModule('gactrigger').getSettings().triggers %}
        <a href="{{ trigger[1] }}" target="_blank" class="btn submit">{{ trigger[0] }}</a>
    {% endfor %}
    <a href="#" class="clear"></a>
{% endblock %}